@use "./assets/styles/abstracts/variables" as c;
@use "./assets/styles/abstracts/placeholders" as p;

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.user {
    background-color: c.$jet;
    border-right: 1px solid c.$davys-grey;
    padding: 0 1rem 0 1rem;
}
.contact {
    background-color: c.$eerie-black;
    border-right: 1px solid c.$davys-grey;
}
.header {
    background-color: c.$jet;
    padding: 0 2rem 0 2rem;
}
.message {
    background-color: c.$jet;
    padding: 0 1rem;
}
.chat {
    background-color: c.$eerie-black;
}
