@use "../abstracts/variables" as c;

.let__container {
}
.let__let {
    background-color: c.$lime-green;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
}
.let__p {
    color: c.$lime-green;
}
