/* SCSS HEX */
$black: #222222ff;
$eerie-black: #242424ff;
$jet: #333333ff;
$davys-grey: #555555ff;
$french-violet: #6f2dbdff;
$star-command-blue: #0077b6ff;
$lime-green: #31cb00ff;
$dark-orange: #ff8600ff;
$mauve: #cbb2feff;
$blizzard-blue: #ade8f4ff;
$white: #eeeeeeff;
