.chat__img {
    width: 3rem;
    height: 3rem;
}
.chat__header {
}
.chat__h3 {
    font-size: 1.5em;
}

// ---------------------------
.form__message {
    width: 100%;
}
.message__input {
    width: 100%;
}
.message__submit {
    width: 2rem;
    height: 2rem;
}
