@use "../abstracts/variables" as c;
@use "../abstracts/placeholders" as p;

.signin {
    background-color: c.$black;
    width: p.$signinWidth;
    height: p.$signinHeight;
    border: 2px solid c.$dark-orange;
    border-radius: 10%;
    box-shadow: 0 0 1rem 0.3rem rgba(c.$dark-orange, 0.5);
    overflow: hidden;
    position: absolute;
    left: calc((100% - p.$signinWidth) / 2);
    top: calc((100% - p.$signinHeight) / 2);
}

.signin__signup {
    /* background-color: aqua; */
    width: 90%;
    height: 90%;
    position: absolute;
}

.signin__login {
    /* background-color: aqua; */
    width: 90%;
    height: 90%;
    position: absolute;
}

.signin__h2 {
    /* background-color: blue; */
    text-align: center;
    font-size: 4em;
}
.signin__p {
    /* background-color: aqua; */
    color: lightcoral;
    margin: 0 0 0 7%;
    align-self: flex-start;
    text-shadow: 0 0 4px red;
}

.signin__p--header {
    align-self: flex-end;
    margin-bottom: 5%;
}

.signin__form {
    /* background-color: blue; */
}

.signin__label {
    /* background-color: red; */
    align-self: flex-start;
    margin: 0 0 0.2rem 7%;
}
.signin__input {
    /* background-color: chartreuse; */
    width: 90%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid c.$davys-grey;
}
.signin__button {
    background-color: darkmagenta;
    width: p.$buttonSigninWidth;
    font-size: 1.2em;
    padding: 1.2rem;
    position: absolute;
    bottom: 3rem;
}

.signin__button--left {
    left: p.$alignButtonSignin;
}

.signin__button--right {
    right: p.$alignButtonSignin;
}

@keyframes switchedToSignUp {
    from {
        left: -110%;
    }
    to {
        left: 5%;
    }
}

@keyframes switchedToLogIn {
    from {
        left: 5%;
    }
    to {
        left: 110%;
    }
}
